In [1]:
# Import dependencies
import pandas as pd
import numpy as np

pd.set_option('max_colwidth', 200)
pd.set_option("display.expand_frame_repr", False)

In [2]:
# import additional dependencies
import json
from datetime import datetime as dt

### Extract the crowdfunding.xlsx Data

In [ ]:
# save file path to crowdfunding input
funding = 'Resources/crowdfunding.xlsx'

In [ ]:
# read file into Pandas DF
crowdfunding_info_df = pd.read_excel(funding)
crowdfunding_info_df.head()

In [ ]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [ ]:
# Get the crowdfunding_info_df columns.

In [ ]:
# Assign the category and subcategory values to category and subcategory columns.

In [ ]:
# Get the unique categories and subcategories in separate lists.


print(categories)
print(subcategories)

In [ ]:
# Get the number of distinct values in the categories and subcategories lists.


print(len(categories))
print(len(subcategories))

In [ ]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

In [ ]:
# Use a list comprehension to add "cat" to each category_id. 

# Use a list comprehension to add "subcat" to each subcategory_id.    

print(cat_ids)
print(scat_ids)

In [ ]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.

# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name.

In [ ]:
# preview category DataFrame
category_df

In [ ]:
# preview_subcategory DataFrame
subcategory_df

In [ ]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [ ]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

In [ ]:
# Rename the blurb, launched_at, and deadline columns.

In [ ]:
# Convert the goal and pledged columns to a `float` data type.

In [ ]:
# Check the datatypes

In [ ]:
# Format the launched_date and end_date columns to datetime format

In [ ]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.

campaign_merged_df.tail(10)

In [ ]:
# Drop unwanted columns

In [ ]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [3]:
# save file path to contacts input
contacts = 'Resources/contacts.xlsx'

In [4]:
# read into Pandas DF, Use the `header=3` parameter
contact_info_df = pd.read_excel(contacts, header = 3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [5]:
# create blank list - use for list of dictionaries
dict_values = []

In [6]:
# convert DataFrame to a dictionary -- using list comprehension
for i, row in contact_info_df.iterrows():
    data = row['contact_info']
    contact_list = json.loads(data)
    details = [value for key, value in contact_list.items()]
    dict_values.append(details)

# Print out the list of values for each row.
print(dict_values[0:5])

[[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr'], [3765, 'Mariana Ellis', 'mariana.ellis@rossi.org'], [4187, 'Sofie Woods', 'sofie.woods@riviere.com'], [4941, 'Jeanette Iannotti', 'jeanette.iannotti@yahoo.com'], [2199, 'Samuel Sorgatz', 'samuel.sorgatz@gmail.com']]

In [7]:
# opt_2: convert DataFrame to dictionary using nested for_loop

# create new empty list to store dictionaries
opt_2_dict_values = []

for i, row in contact_info_df.iterrows():
    data = row['contact_info']
    contact_list = json.loads(data)

    contact = []
    for key, value in contact_list.items():
        contact.append(value)
    opt_2_dict_values.append(contact)
    
print(opt_2_dict_values[0:5])

[[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr'], [3765, 'Mariana Ellis', 'mariana.ellis@rossi.org'], [4187, 'Sofie Woods', 'sofie.woods@riviere.com'], [4941, 'Jeanette Iannotti', 'jeanette.iannotti@yahoo.com'], [2199, 'Samuel Sorgatz', 'samuel.sorgatz@gmail.com']]

In [8]:
# Create a DF with contact_info --- each row should display 
#'contact_id', 'name', 'email' columns.

contacts_df = pd.DataFrame(dict_values, columns = 
                           ['contact_id', 'name', 'email'])

contacts_df.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [9]:
# Check the datatypes.
contacts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   name        1000 non-null   object
 2   email       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [10]:
# Create a "first"name" and "last_name" column from the "name" column. 
contacts_df[['first name', 'last name']] = contacts_df['name'].str.split(' ', n=1, expand = True)
contacts_df.head()

# Drop the contact_name column
contacts_df= contacts_df.drop(['name'], axis = 1)
contacts_df.head()

   contact_id                         email first name last name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz

In [11]:
# Reorder the columns
ordered_columns = ['contact_id', 'first name', 'last name', 'email']

In [12]:
# save DF as new dataframe
contacts_df_clean = contacts_df.reindex(columns = ordered_columns)

contacts_df_clean.head()

   contact_id first name last name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [13]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first name  1000 non-null   object
 2   last name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [14]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [15]:
contact_info_regex_df = contact_info_df.copy()
contact_info_regex_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [16]:
# Extract the four-digit contact ID number.
n = '(\d{4})'

contact_info_regex_df['contact_id'] = contact_info_regex_df['contact_info'].str.extract(n, expand=True)

contact_info_regex_df.head()

                                                                                contact_info contact_id
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}       4661
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}       3765
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}       4187
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}       4941
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}       2199

In [17]:
# Check the datatypes.
contact_info_regex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [18]:
# Convert the "contact_id" column to an int64 data type.
contact_info_regex_df['contact_id'] = contact_info_regex_df['contact_id'].astype('int64')

contact_info_regex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
 1   contact_id    1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [19]:
# Extract the name of the contact and add it to a new column.
np = '([A-Za-z]+\s+[A-ZA-z]+)'

contact_info_regex_df['name'] = contact_info_regex_df['contact_info'].str.extract(np, expand=True)

contact_info_regex_df.head()

                                                                                contact_info  contact_id               name
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}        4661    Cecilia Velasco
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}        3765      Mariana Ellis
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}        4187        Sofie Woods
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}        4941  Jeanette Iannotti
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}        2199     Samuel Sorgatz

In [20]:
# # Extract the email from the contacts and add the values to a new column.
# email = '((?<="email":).*)'
test = '([A-Za-z]+\.[A-Za-z]+@.*)'

contact_info_regex_df['email'] = contact_info_regex_df['contact_info'].str.extract(test, expand=True)

contact_info_regex_df.head()

                                                                                contact_info  contact_id               name                           email
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}        3765      Mariana Ellis       mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}        4187        Sofie Woods       sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com"}

In [21]:
contact_info_regex_df['email'].replace('"', "",inplace=True, regex=True)
contact_info_regex_df['email'].replace('}', "",inplace=True, regex=True)

contact_info_regex_df.head()

                                                                                contact_info  contact_id               name                         email
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}        3765      Mariana Ellis       mariana.ellis@rossi.org
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}        4187        Sofie Woods       sofie.woods@riviere.com
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [22]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
regex_contact_df = contact_info_regex_df[['contact_id', 'name', 'email']]

regex_contact_df.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [23]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
regex_contact_df[['first name', 'last name']] = regex_contact_df['name'].str.split(' ', n=1, expand = True)
regex_contact_df.head()

# Drop the contact_name column
regex_contact_df = regex_contact_df.drop(['name'], axis = 1)
regex_contact_df.head()

   contact_id                         email first name last name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz

In [24]:
# Reorder the columns
ordered_columns = ['contact_id', 'first name', 'last name', 'email']

In [25]:
# save DF as new dataframe
regex_contacts_df_clean = regex_contact_df.reindex(columns = ordered_columns)

regex_contacts_df_clean.head()

   contact_id first name last name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [26]:
# Check the datatypes one more time before exporting as CSV file.
regex_contacts_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first name  1000 non-null   object
 2   last name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [27]:
# Export the DataFrame as a CSV file. 
regex_contacts_df_clean.to_csv("Resources/contacts_regex.csv", encoding='utf8', index=False)